{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'css/img/favicon.ico' %}" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div class="formulario">
        <form action="{% url 'home' %}" method="POST" id="idformulario">
            {% csrf_token %}
            <div class="input-group">                         
                <input type="text" aria-label="First name" class="form-control" placeholder="Nome:">
            </div>
            <div class="form-group">                
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email:">            
            </div>
            <div class="form-group">                
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha:">
            </div>
            <div class="botao">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>                    
        </form>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>